
  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  button {
    width: 100%;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

#match-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
